@import url(http://fonts.googleapis.com/css?family=Exo+2&subset=latin,latin-ext);

body {
	background-color: #2B353F; 
	color: #EEE; 
	font-family: 'Exo 2', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

nav {
	position: fixed;
	left: 0;
	width: 22%;
	height: 642px;
	box-shadow: 2px 0px 8px #443C3C;
}

div#container {
	width: 78%;
	float: right;
}

#container section {
	box-shadow: 0px -2px 5px #A5B5C4;
	position: relative;
}

#container img {
	width: 100%;
}

.photo-description {
	display: inline-block;
	position: absolute;
	right: 40px;
	z-index: 2000;
	font-size: 28px;
	letter-spacing: 1px;
	line-height: 1.4;
	padding: 8px 14px;
	background-color: rgba(10,10,10,0.72);
	text-align: right;
}
.photo-month {
	top: 58px;
	font-size: 18px;
}

#map-canvas {
	height: 100%;
	padding: 0;
	margin: 0;
}

/* for IE8 */

div.ie8 {
	padding-left: 60px;
	padding-right: 80px;
}

#container .ie8 p {
	font-size: 22px;
}

#container .ie8 p:first-child {
	margin-top: 12px;
	margin-bottom: 0;
	font-size: 76px;
}

#container .ie8 img {
	width: 123px;
	padding-right: 14px;
	padding-bottom: 22px;
}

.solid-background {
	background-color: #1E1E1E;
}

/* this is NOT a mobile-first website. but it still has to look OK on mobile */

@media (orientation: portrait) and (max-width: 769px) {
	nav {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 26.3%;
		z-index: 100000;
		box-shadow: 0px -2px 8px #443C3C;
	}

	#map-canvas {
		background-color: #EB6200;
	}

	div#container {
		width: 100%;
		top: 250px;
	}

	.photo-description {
	right: 26px;
	font-size: 18px;
	padding: 6px 10px;
	}
}

label {
	position: absolute;
	margin: 0 auto;
	z-index: 10000;
	left: 50%;
	width: 80%;
	margin-left: -40%;
	margin-top: -100px;
	font-size: 80px;
	background: rgba(255, 255, 255, 0.72);
	top: 50%;
	text-align: center;
	color: #030303;
	height: 200px;
	padding-top: 50px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-transition:top .3s ease-in-out;
	-moz-transition:top .3s ease-in-out;
	-o-transition:top .3s ease-in-out;
	transition:top .3s ease-in-out
}

label small {
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 10px;
}