@import url(http://fonts.googleapis.com/css?family=Exo+2&subset=latin,latin-ext);

body {
	background-color: #2B353F; 
	color: #EEE; 
	font-family: 'Exo 2', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}

#container div {
	/*display: block;*/
	width: 100%;
}

#container img {
	width: 100%;
}

